@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.about {
  background-color: #0a2850;
  /*
   * Overflow doesn't seem to work with anything other than
   * when position is set to relative. Ive tried flexbox and
   * margin/padding but then I can't get rid of the excess
   * circle content
  */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about__title {
  color: #ffffff;
  position: absolute;
  z-index: 1;
  max-width: 251px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin-top: 119px;
  margin-bottom: 173px;
  margin-right: 80px;
  max-width: 660px;
}

.about__paragraph {
  color: #ffffff;
  position: relative;
  z-index: 1;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
