.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 100px 0 0;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: 24px 0 0;
}

.menu__cards {
  margin: 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  column-gap: 100px;
}
