a {
  text-decoration: none;
  color: #000000;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  column-gap: 20px;
  list-style: none;
}
