.recipes {
  background-color: #0a2750;
  background-position: center;
  background-image: url(../images/background_recipes.svg);
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
}

.recipes__title {
  color: #ffffff;
  max-width: 580px;
  padding: 100px 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  padding: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

/*
 * When display is set to row.
 * display: flex;
 * justify-content: center;
 * column-gap: 40px;
 * Compared to when display is set to column.
 */
.recipes__videos {
  padding-top: 80px;
  height: 297px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
}
